html { 
  background-color: whitesmoke;
}
h1 {
  color: dimgray;
  font-family: "Encode Sans Expanded", Helvetica, sans-serif;
  margin-left: 1em;
}
img {
  height: 2.5em;
  float: left;
}
nav {
  clear: left;
}
ul, li {
  list-style: none;
}
.nav-link {
  color: dimgray;
  font-family: "Encode Sans Expanded", Helvetica, sans-serif;
  text-decoration: none;
}
.nav-current {
  color: whitesmoke;
  background-color: orangered;
  font-family: "Encode Sans Expanded", Helvetica, sans-serif;
  text-decoration: none;
}
