html { 
  background-color: whitesmoke;
}
h1 {
  color: dimgray;
  font-family: "Encode Sans Expanded", Helvetica, sans-serif;
  padding-left: 1em;
}
img {
  height: 2.5em;
  float: left;
}
nav {
  clear: left;
}
